* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


/* LAYOUT GRID */
body {
  display: flex;
  margin: 0;
  padding: 0;
  background: #D2D3C9;
  max-height: 100vh;
  max-width: 100vw;
}

.bg-green-header{
  position: fixed;
  width: 100vw;
  height: 15vh;
  background: #358675;
}

.container {
  width: 70vw;
  height: 60vh;
  margin: 50px auto;
  z-index: 1;
}

.left-column {
  float: left;
  width: 25vw;
  /* height: 100vh; */
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.right-column {
  float: left;
  width: 45vw;
  /* height: 100vh; */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* LEFT COLUMN CSS STYLE */
.header-left, .header-right {
  background-color: #EAEAEA;
  width: 100%;
  height: 70px;
  justify-content: space-between;
}
.header-left {
  border-top-left-radius: 5px;

}
.header-right {
  border-top-right-radius: 5px;
}

.header-left, .header-right, .img-profile, .icon-container-header, .current-contact{
  display: flex;
}

 .img-profile img {
  width: 50px;
  height: 50px;
  margin: auto 0 auto 10px;
	border-radius: 100%;
}

.icon-container-header {
  align-items: center;
}

.icon-container-header .fas {
  padding: 10px;
  margin-right: 10px;
  font-size: 18px;
  color: #6b7376;
}

.notifications-container {
  display: flex;
  background-color: #8edafc;
  width: 100%;
  height: 100px;
  align-items: center;
}

 .notifications-container svg{
  width: 50px;
  height: 50px;
  margin: auto 0 auto 10px;
	border-radius: 100%;
}

.text-notification {
  margin-left: 20px;
}

.text-notification .title {
    font-size: 17px;
    color: #2E2E2E
}

.text-notification .subtitle {
  display: block;
  font-size: 14px;
  text-decoration: underline;
  color: #2E2E2E
}

.input-find-friends {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background: #EAEAEA;
}

.input-find-friends input {
  width: 95%;
  padding: 8px;
  border-style: hidden;
  border-radius: 5px;
}

/* SCROLLBAR-STYLE */
#friends-block-container {
  background-color: white;
  overflow-y: scroll;
  min-height: 60vh;
  max-height: 60vh;
  border-bottom-left-radius: 5px;
}

#friends-block-container::-webkit-scrollbar, .message-container::-webkit-scrollbar {
    width: 10px;
}

#friends-block-container::-webkit-scrollbar-track,.message-container::-webkit-scrollbar {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#friends-block-container::-webkit-scrollbar-thumb,.message-container::-webkit-scrollbar {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 5px;
}

.friend-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 90px;
  background-color: white;
  align-items: center;
  border-bottom: 1px solid #F5F5F5;
  cursor: pointer;
}

.friend-container:hover {
  background-color: #f4f5f5;
}

.friend-container .friend-name {
  margin-left: 5%;
}

.friend-container .friend-name  .title {
  font-size: 18px;
  color: #2E2E2E;
}

.friend-container .friend-name  .last-message{
  display: block;
  color: #2E2E2E;
  font-size: 12px;
  padding-top: 5px;
}

.time-message-container {
  position: absolute;
  right: 3%;
}

.last-message-time {
  font-size: 12px;
  display: inline-block;
  justify-content:flex-end;
  color: #B6B9BB;
}

.fas.fa-check {
  font-size: 9px;
  padding-left: 5px;
}

.current-contact {
  align-items: center;
  padding-right: 50%;
  font-size: 18px;
  color: #2E2E2E;
}

.last-access {
  display: block;
  font-size: 12px;
  color: #6b7376;
  padding-top: 3px;
}

/*COLUMN RIGHT CSS  */
.right-column .message-container {
  background-image: url("img/chat-bg.jpg");
  max-width: 100%;
  overflow-y: scroll;
  min-height: 70vh;
  max-height: 70vh;
  position: relative;
}

.message-sent {
  position: relative;
  float: left;
  background: #dcf8c6;
  padding: 15px;
  max-width: 50%;
  min-width: 10%;
  margin-top: 5%;
  margin-left: 5%;
  border-radius: 5px;
}

.message-received {
  position: relative;
  float: right;
  background: white;
  padding: 15px;
  margin-top: 2%;
  margin-right: 5%;
  border-radius: 5px;
}

.text-sent, .text-received {
  font-size: 14px;
  color: #2E2E2E
}

.message-time {
  position: absolute;
  right: 5px;
  font-size: 10px;
  color: #b6b9bb;
}
.message-time-sent {
  position: absolute;
  right: -15px;
  font-size: 10px;
  color: #b6b9bb;
}

.fas.fa-caret-down {
  font-size: 12px;
  color: #B6B9BB;
  display: none;
  position: absolute;
  right: 5px;
  top: 17px;
}

.message-options {
  width: 150px;
  height: 80px;
  font-size: 14px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  right: 0px;
  display: none;
}

.input-chat-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 10vh;
  background-color:  #f5f1ee;
  border-bottom-right-radius: 5px;
}

.input-chat-container .far, .input-chat-container .fas {
  font-size: 24px;
  color: #6b7376;
}

.input-chat-container input {
  width: 75%;
  padding: 10px;
  border-style: hidden;
  border-radius: 5px;
}

/* GENERAL CLASSES */
.read-message-check {
  color:#2196f3;
}

.border-bottom {
  border-bottom: 1px solid lightgray;
}

.clear {
  clear: both;
}

.display-none{
  display: none;
}
